<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Only Login Page </title>
</head>
<body>
<div class="container">
    <h1>information Page </h1>
    <h2>UserName</h2>
    <h2>Pass</h2>

</div>
</body>
</html>